$color-decoration: #95afc0;
$text-color: #079992;
$text: #ffffff;
$body-color: #8395a7;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: $body-color;
    margin: 0;
	padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    color: $text-color;
    ;
    font-feature-settings: "smcp", "zero";
    font-style: oblique 40deg;
    font-size: 2.2em;
    text-align: center;
    border: 2px solid $text;
    width: 350px;
    background-color: $body-color;
}

.carousel-cell {
    @include border-radius(5px);
    counter-increment: carousel-cell;
    width: 100%;
    margin-right: 5vw;
    height: 63vh;
    min-height: 250px;
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    background-size: cover;

    &:hover {
        filter: none;
    }
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: $text;
}

.progress-bar {
    background: $text-color;
}


button {
    position: absolute;
    width: 130px;
	height: 50px;
	top: calc(50vh - 35px);
    border: 1px solid $text-color;
    @include border-radius(12px);
    padding: 8px;
    background-color: $text-color;
    font-size: 22px;

    a {
	    text-decoration: none;
	    color: $text;
    }
}

h1 {
    color: $text;
}


@media (max-width: 767px) {

    .carousel-cell {
        height: 15vh;
    }
}